<br></br>
<br></br>
<br></br>
<body class="text-center">
    <main role="main" class="inner cover">
        <h1 class="cover-heading">Bienvenue Sur Notre site de Gossip! </h1>
        <p class="lead">Ici c'est notre super site de potins, il est chouette, non ? vous pourrez bientot crée, lire, modifier, ou encore inventer des potins sur la vie de tous les jours avec la communauté qui vous entours et ça c'est cool!</p>
    </main>
    <br></br>
        Saisi ici ton nom :  <input type='text' name='user'/><br/>
        </form>
</body>
