<br></br>
<br></br>
<h2> Voici notre équipe </h2><br></br>
<div class='perso1'>
<p> Mr Tanguy BILLON - Developpeur Fullstack / Data scientist</p><br></br>
<p> Mr Augustin Bernard - Developpeur Fullstack </p>
</div>
