<br></br>
<br></br>
<h1> Contactez La Team!! </h1><br></br>
<p>vous trouverez ici tous les contacts de chaque membre de la Team! <p>
<div class='perso1'>
<p>Tanguy Billon</p> 
<p>tél: +33761******</p>
<p>adresse mail : tanguy_billon@hotmail.fr</p>
<br></br>
<p>Augustin Bernard</p>
<p>+33621******</p>
</div>